/*-- scss:defaults --*/

/* css styles */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script&display=swap');
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;600&display=swap");

pre > code.sourceCode {
	white-space: pre;
	font-family: JetBrains Mono;
}

.navbar-dark .navbar-brand {
  font-family: "Oleo Script";
  font-size: 2.5em;
}

#title-block-header h1 {
  font-family: "Oleo Script";
  font-size: 2em;
}

code {
  font-size: 90%;
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  color: #3e85ce;
  background-color: #ebf5ff;
  border-radius: 8px;
  padding: 0 4px 1px;
}

p code:not(.sourceCode), li code:not(.sourceCode) {
  font-size: 90%;
  font-family: "JetBrains Mono", monospace;
  font-weight: 600;
  color: #3e85ce;
  background-color: #ebf5ff;
  border-radius: 8px;
  padding: 0 4px 1px;
}